
.idea/inspectionProfiles/profiles_settings.xml
mnist_data/MNIST/raw/train-labels-idx1-ubyte.gz
mnist_data/MNIST/raw/train-labels-idx1-ubyte
*.gz
mnist_data/MNIST/raw/train-images-idx3-ubyte
mnist_data/MNIST/raw/t10k-labels-idx1-ubyte
mnist_data/MNIST/raw/t10k-images-idx3-ubyte
*.pyc
*.xml
*.xml
*.xml
*.iml
.idea/modules.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
