# Datasets
/datasets

# Reslts
/Results

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
*.gz
*.iml
*.xml
mnist_data/MNIST/raw/t10k-images-idx3-ubyte
mnist_data/MNIST/raw/train-images-idx3-ubyte
mnist_data/MNIST/raw/train-labels-idx1-ubyte
mnist_data/MNIST/raw/t10k-labels-idx1-ubyte
/wandb/run-20240704_201127-a8rmwnpx/files/config.yaml
/wandb/run-20240704_202156-0pjlg94y/files/config.yaml
/wandb/run-20240704_202348-q23graiu/files/config.yaml
/wandb/run-20240704_203105-iybbjl4h/files/config.yaml
/wandb/run-20240704_203507-yyo1blmf/files/config.yaml
/wandb/run-20240704_203617-bqfnou9j/files/config.yaml
/wandb/run-20240704_203848-zhu4d81g/files/config.yaml
/wandb/run-20240704_203948-k4dhy4np/files/config.yaml
/wandb/run-20240704_204218-hcosca7c/files/config.yaml
/wandb/run-20240704_211154-z8ft4izc/files/config.yaml
/wandb/run-20240704_211514-i50hvmyy/files/config.yaml
/wandb/run-20240704_213516-zslolxi5/files/config.yaml
/wandb/run-20240705_105752-5tnx87tf/files/config.yaml
/wandb/run-20240705_110000-dp43wzo2/files/config.yaml
/wandb/run-20240705_110226-qpni53ky/files/config.yaml
/wandb/run-20240705_110540-tq59ki2l/files/config.yaml
/wandb/run-20240705_110809-qfbo925n/files/config.yaml
/wandb/run-20240705_111101-kxl4xmbp/files/config.yaml
/wandb/run-20240705_111355-4ib2zr7d/files/config.yaml
/wandb/run-20240705_111604-havw0rxq/files/config.yaml
/wandb/run-20240705_113431-hxzo87bf/files/config.yaml
/wandb/run-20240705_114728-0tztmami/files/config.yaml
/wandb/run-20240705_114857-5mw7j6jv/files/config.yaml
/wandb/run-20240705_115009-sv7wui2x/files/config.yaml
/wandb/run-20240705_122833-nmt1mt1q/files/config.yaml
/wandb/run-20240705_123003-6q9y7qca/files/config.yaml
/wandb/run-20240705_123435-3qz4ei9q/files/config.yaml
/wandb/run-20240705_123627-zwrov6vr/files/config.yaml
/wandb/run-20240705_124428-glsioimr/files/config.yaml
/wandb/run-20240705_151144-607nkv6e/files/config.yaml
/wandb/run-20240705_151212-ykvnvnaw/files/config.yaml
/wandb/run-20240705_151443-77slo8v1/files/config.yaml
/wandb/run-20240705_151932-mqnv0bhm/files/config.yaml
/wandb/run-20240705_161025-29nvl5kr/files/config.yaml
/wandb/run-20240705_161202-y4kw7k38/files/config.yaml
/wandb/run-20240705_161715-psu05h1a/files/config.yaml
/wandb/run-20240705_161835-tvaqv3zq/files/config.yaml
/wandb/run-20240705_162002-p80vis66/files/config.yaml
/wandb/run-20240705_162034-wlr78y4c/files/config.yaml
/wandb/run-20240705_162113-svzo8x3i/files/config.yaml
/wandb/run-20240705_162203-je8qeoeo/files/config.yaml
/wandb/run-20240705_163347-kiq06kob/files/config.yaml
/wandb/run-20240705_164022-c9eiycz6/files/config.yaml
/wandb/run-20240705_181229-m3hegua1/files/config.yaml
/wandb/run-20240705_181323-df176x8z/files/config.yaml
/wandb/run-20240705_181422-y7a21621/files/config.yaml
/wandb/run-20240704_201127-a8rmwnpx/files/requirements.txt
/wandb/run-20240704_202156-0pjlg94y/files/requirements.txt
/wandb/run-20240704_202348-q23graiu/files/requirements.txt
/wandb/run-20240704_203105-iybbjl4h/files/requirements.txt
/wandb/run-20240704_203507-yyo1blmf/files/requirements.txt
/wandb/run-20240704_203617-bqfnou9j/files/requirements.txt
/wandb/run-20240704_203848-zhu4d81g/files/requirements.txt
/wandb/run-20240704_203948-k4dhy4np/files/requirements.txt
/wandb/run-20240704_204218-hcosca7c/files/requirements.txt
/wandb/run-20240704_211154-z8ft4izc/files/requirements.txt
/wandb/run-20240704_211514-i50hvmyy/files/requirements.txt
/wandb/run-20240704_213516-zslolxi5/files/requirements.txt
/wandb/run-20240705_105752-5tnx87tf/files/requirements.txt
/wandb/run-20240705_110000-dp43wzo2/files/requirements.txt
/wandb/run-20240705_110226-qpni53ky/files/requirements.txt
/wandb/run-20240705_110540-tq59ki2l/files/requirements.txt
/wandb/run-20240705_110809-qfbo925n/files/requirements.txt
/wandb/run-20240705_111101-kxl4xmbp/files/requirements.txt
/wandb/run-20240705_111355-4ib2zr7d/files/requirements.txt
/wandb/run-20240705_111604-havw0rxq/files/requirements.txt
/wandb/run-20240705_113431-hxzo87bf/files/requirements.txt
/wandb/run-20240705_114728-0tztmami/files/requirements.txt
/wandb/run-20240705_114857-5mw7j6jv/files/requirements.txt
/wandb/run-20240705_115009-sv7wui2x/files/requirements.txt
/wandb/run-20240705_122833-nmt1mt1q/files/requirements.txt
/wandb/run-20240705_123003-6q9y7qca/files/requirements.txt
/wandb/run-20240705_123435-3qz4ei9q/files/requirements.txt
/wandb/run-20240705_123627-zwrov6vr/files/requirements.txt
/wandb/run-20240705_124428-glsioimr/files/requirements.txt
/wandb/run-20240705_151144-607nkv6e/files/requirements.txt
/wandb/run-20240705_151212-ykvnvnaw/files/requirements.txt
/wandb/run-20240705_151443-77slo8v1/files/requirements.txt
/wandb/run-20240705_151932-mqnv0bhm/files/requirements.txt
/wandb/run-20240705_161025-29nvl5kr/files/requirements.txt
/wandb/run-20240705_161202-y4kw7k38/files/requirements.txt
/wandb/run-20240705_161715-psu05h1a/files/requirements.txt
/wandb/run-20240705_161835-tvaqv3zq/files/requirements.txt
/wandb/run-20240705_162002-p80vis66/files/requirements.txt
/wandb/run-20240705_162034-wlr78y4c/files/requirements.txt
/wandb/run-20240705_162113-svzo8x3i/files/requirements.txt
/wandb/run-20240705_162203-je8qeoeo/files/requirements.txt
/wandb/run-20240705_163347-kiq06kob/files/requirements.txt
/wandb/run-20240705_164022-c9eiycz6/files/requirements.txt
/wandb/run-20240705_181229-m3hegua1/files/requirements.txt
/wandb/run-20240705_181323-df176x8z/files/requirements.txt
/wandb/run-20240705_181422-y7a21621/files/requirements.txt
/wandb/run-20240704_202156-0pjlg94y/run-0pjlg94y.wandb
/wandb/run-20240705_114728-0tztmami/run-0tztmami.wandb
/wandb/run-20240705_123435-3qz4ei9q/run-3qz4ei9q.wandb
/wandb/run-20240705_111355-4ib2zr7d/run-4ib2zr7d.wandb
/wandb/run-20240705_114857-5mw7j6jv/run-5mw7j6jv.wandb
/wandb/run-20240705_105752-5tnx87tf/run-5tnx87tf.wandb
/wandb/run-20240705_123003-6q9y7qca/run-6q9y7qca.wandb
/wandb/run-20240705_161025-29nvl5kr/run-29nvl5kr.wandb
/wandb/run-20240705_151443-77slo8v1/run-77slo8v1.wandb
/wandb/run-20240705_151144-607nkv6e/run-607nkv6e.wandb
/wandb/run-20240704_201127-a8rmwnpx/run-a8rmwnpx.wandb
/wandb/run-20240704_203617-bqfnou9j/run-bqfnou9j.wandb
/wandb/run-20240705_164022-c9eiycz6/run-c9eiycz6.wandb
/wandb/run-20240705_181323-df176x8z/run-df176x8z.wandb
/wandb/run-20240705_110000-dp43wzo2/run-dp43wzo2.wandb
/wandb/run-20240705_124428-glsioimr/run-glsioimr.wandb
/wandb/run-20240705_111604-havw0rxq/run-havw0rxq.wandb
/wandb/run-20240704_204218-hcosca7c/run-hcosca7c.wandb
/wandb/run-20240705_113431-hxzo87bf/run-hxzo87bf.wandb
/wandb/run-20240704_211514-i50hvmyy/run-i50hvmyy.wandb
/wandb/run-20240704_203105-iybbjl4h/run-iybbjl4h.wandb
/wandb/run-20240705_162203-je8qeoeo/run-je8qeoeo.wandb
/wandb/run-20240704_203948-k4dhy4np/run-k4dhy4np.wandb
/wandb/run-20240705_163347-kiq06kob/run-kiq06kob.wandb
/wandb/run-20240705_111101-kxl4xmbp/run-kxl4xmbp.wandb
/wandb/run-20240705_181229-m3hegua1/run-m3hegua1.wandb
/wandb/run-20240705_151932-mqnv0bhm/run-mqnv0bhm.wandb
/wandb/run-20240705_122833-nmt1mt1q/run-nmt1mt1q.wandb
/wandb/run-20240705_162002-p80vis66/run-p80vis66.wandb
/wandb/run-20240705_161715-psu05h1a/run-psu05h1a.wandb
/wandb/run-20240704_202348-q23graiu/run-q23graiu.wandb
/wandb/run-20240705_110809-qfbo925n/run-qfbo925n.wandb
/wandb/run-20240705_110226-qpni53ky/run-qpni53ky.wandb
/wandb/run-20240705_115009-sv7wui2x/run-sv7wui2x.wandb
/wandb/run-20240705_162113-svzo8x3i/run-svzo8x3i.wandb
/wandb/run-20240705_110540-tq59ki2l/run-tq59ki2l.wandb
/wandb/run-20240705_161835-tvaqv3zq/run-tvaqv3zq.wandb
/wandb/run-20240705_162034-wlr78y4c/run-wlr78y4c.wandb
/wandb/run-20240705_161202-y4kw7k38/run-y4kw7k38.wandb
/wandb/run-20240705_181422-y7a21621/run-y7a21621.wandb
/wandb/run-20240705_151212-ykvnvnaw/run-ykvnvnaw.wandb
/wandb/run-20240704_203507-yyo1blmf/run-yyo1blmf.wandb
/wandb/run-20240704_211154-z8ft4izc/run-z8ft4izc.wandb
/wandb/run-20240704_203848-zhu4d81g/run-zhu4d81g.wandb
/wandb/run-20240704_213516-zslolxi5/run-zslolxi5.wandb
/wandb/run-20240705_123627-zwrov6vr/run-zwrov6vr.wandb
/wandb/run-20240704_201127-a8rmwnpx/files/wandb-metadata.json
/wandb/run-20240704_202156-0pjlg94y/files/wandb-metadata.json
/wandb/run-20240704_202348-q23graiu/files/wandb-metadata.json
/wandb/run-20240704_203105-iybbjl4h/files/wandb-metadata.json
/wandb/run-20240704_203507-yyo1blmf/files/wandb-metadata.json
/wandb/run-20240704_203617-bqfnou9j/files/wandb-metadata.json
/wandb/run-20240704_203848-zhu4d81g/files/wandb-metadata.json
/wandb/run-20240704_203948-k4dhy4np/files/wandb-metadata.json
/wandb/run-20240704_204218-hcosca7c/files/wandb-metadata.json
/wandb/run-20240704_211154-z8ft4izc/files/wandb-metadata.json
/wandb/run-20240704_211514-i50hvmyy/files/wandb-metadata.json
/wandb/run-20240704_213516-zslolxi5/files/wandb-metadata.json
/wandb/run-20240705_105752-5tnx87tf/files/wandb-metadata.json
/wandb/run-20240705_110000-dp43wzo2/files/wandb-metadata.json
/wandb/run-20240705_110226-qpni53ky/files/wandb-metadata.json
/wandb/run-20240705_110540-tq59ki2l/files/wandb-metadata.json
/wandb/run-20240705_110809-qfbo925n/files/wandb-metadata.json
/wandb/run-20240705_111101-kxl4xmbp/files/wandb-metadata.json
/wandb/run-20240705_111355-4ib2zr7d/files/wandb-metadata.json
/wandb/run-20240705_111604-havw0rxq/files/wandb-metadata.json
/wandb/run-20240705_113431-hxzo87bf/files/wandb-metadata.json
/wandb/run-20240705_114728-0tztmami/files/wandb-metadata.json
/wandb/run-20240705_114857-5mw7j6jv/files/wandb-metadata.json
/wandb/run-20240705_115009-sv7wui2x/files/wandb-metadata.json
/wandb/run-20240705_122833-nmt1mt1q/files/wandb-metadata.json
/wandb/run-20240705_123003-6q9y7qca/files/wandb-metadata.json
/wandb/run-20240705_123435-3qz4ei9q/files/wandb-metadata.json
/wandb/run-20240705_123627-zwrov6vr/files/wandb-metadata.json
/wandb/run-20240705_124428-glsioimr/files/wandb-metadata.json
/wandb/run-20240705_151144-607nkv6e/files/wandb-metadata.json
/wandb/run-20240705_151212-ykvnvnaw/files/wandb-metadata.json
/wandb/run-20240705_151443-77slo8v1/files/wandb-metadata.json
/wandb/run-20240705_151932-mqnv0bhm/files/wandb-metadata.json
/wandb/run-20240705_161025-29nvl5kr/files/wandb-metadata.json
/wandb/run-20240705_161202-y4kw7k38/files/wandb-metadata.json
/wandb/run-20240705_161715-psu05h1a/files/wandb-metadata.json
/wandb/run-20240705_161835-tvaqv3zq/files/wandb-metadata.json
/wandb/run-20240705_162002-p80vis66/files/wandb-metadata.json
/wandb/run-20240705_162034-wlr78y4c/files/wandb-metadata.json
/wandb/run-20240705_162113-svzo8x3i/files/wandb-metadata.json
/wandb/run-20240705_162203-je8qeoeo/files/wandb-metadata.json
/wandb/run-20240705_163347-kiq06kob/files/wandb-metadata.json
/wandb/run-20240705_164022-c9eiycz6/files/wandb-metadata.json
/wandb/run-20240705_181229-m3hegua1/files/wandb-metadata.json
/wandb/run-20240705_181323-df176x8z/files/wandb-metadata.json
/wandb/run-20240705_181422-y7a21621/files/wandb-metadata.json
/wandb/run-20240704_201127-a8rmwnpx/files/wandb-summary.json
/wandb/run-20240704_202156-0pjlg94y/files/wandb-summary.json
/wandb/run-20240704_202348-q23graiu/files/wandb-summary.json
/wandb/run-20240704_203105-iybbjl4h/files/wandb-summary.json
/wandb/run-20240704_203507-yyo1blmf/files/wandb-summary.json
/wandb/run-20240704_203617-bqfnou9j/files/wandb-summary.json
/wandb/run-20240704_203848-zhu4d81g/files/wandb-summary.json
/wandb/run-20240704_203948-k4dhy4np/files/wandb-summary.json
/wandb/run-20240704_204218-hcosca7c/files/wandb-summary.json
/wandb/run-20240704_211154-z8ft4izc/files/wandb-summary.json
/wandb/run-20240704_211514-i50hvmyy/files/wandb-summary.json
/wandb/run-20240704_213516-zslolxi5/files/wandb-summary.json
/wandb/run-20240705_105752-5tnx87tf/files/wandb-summary.json
/wandb/run-20240705_110000-dp43wzo2/files/wandb-summary.json
/wandb/run-20240705_110226-qpni53ky/files/wandb-summary.json
/wandb/run-20240705_110540-tq59ki2l/files/wandb-summary.json
/wandb/run-20240705_110809-qfbo925n/files/wandb-summary.json
/wandb/run-20240705_111101-kxl4xmbp/files/wandb-summary.json
/wandb/run-20240705_111355-4ib2zr7d/files/wandb-summary.json
/wandb/run-20240705_111604-havw0rxq/files/wandb-summary.json
/wandb/run-20240705_113431-hxzo87bf/files/wandb-summary.json
/wandb/run-20240705_114728-0tztmami/files/wandb-summary.json
/wandb/run-20240705_114857-5mw7j6jv/files/wandb-summary.json
/wandb/run-20240705_115009-sv7wui2x/files/wandb-summary.json
/wandb/run-20240705_122833-nmt1mt1q/files/wandb-summary.json
/wandb/run-20240705_123003-6q9y7qca/files/wandb-summary.json
/wandb/run-20240705_123435-3qz4ei9q/files/wandb-summary.json
/wandb/run-20240705_123627-zwrov6vr/files/wandb-summary.json
/wandb/run-20240705_124428-glsioimr/files/wandb-summary.json
/wandb/run-20240705_151144-607nkv6e/files/wandb-summary.json
/wandb/run-20240705_151212-ykvnvnaw/files/wandb-summary.json
/wandb/run-20240705_151443-77slo8v1/files/wandb-summary.json
/wandb/run-20240705_151932-mqnv0bhm/files/wandb-summary.json
/wandb/run-20240705_161025-29nvl5kr/files/wandb-summary.json
/wandb/run-20240705_161202-y4kw7k38/files/wandb-summary.json
/wandb/run-20240705_161715-psu05h1a/files/wandb-summary.json
/wandb/run-20240705_161835-tvaqv3zq/files/wandb-summary.json
/wandb/run-20240705_162002-p80vis66/files/wandb-summary.json
/wandb/run-20240705_162034-wlr78y4c/files/wandb-summary.json
/wandb/run-20240705_162113-svzo8x3i/files/wandb-summary.json
/wandb/run-20240705_162203-je8qeoeo/files/wandb-summary.json
/wandb/run-20240705_163347-kiq06kob/files/wandb-summary.json
/wandb/run-20240705_164022-c9eiycz6/files/wandb-summary.json
/wandb/run-20240705_181229-m3hegua1/files/wandb-summary.json
/wandb/run-20240705_181323-df176x8z/files/wandb-summary.json
/wandb/run-20240705_181422-y7a21621/files/wandb-summary.json
